.services-title {
    display: inline-block;
    padding-top: 140px;
    padding-bottom: 87px;
    width: 607px;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}

.services-item {
    padding-left: 30px;
}

.services-subtitle {
    margin-right: 102px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
}

.services-descr {
    margin-right: 91px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.services-list {
    display: inline-flex;

}
